include README.md
include requirements.txt
recursive-include monolithe/generators/lang/python/templates *
recursive-include monolithe/generators/lang/python/vanilla *
recursive-include monolithe/generators/lang/html/templates *
recursive-include monolithe/generators/lang/html/vanilla *
recursive-include monolithe/generators/lang/go/templates *
recursive-include monolithe/generators/lang/go/vanilla *
recursive-include monolithe/generators/lang/objj/templates *
recursive-include monolithe/generators/lang/objj/vanilla *
recursive-include monolithe/generators/lang/java/templates *
recursive-include monolithe/generators/lang/java/vanilla *
recursive-include monolithe/generators/lang/vro/templates *
recursive-include monolithe/generators/lang/vro/vanilla *
recursive-include monolithe/generators/lang/javascript/config/ *
recursive-include monolithe/generators/lang/javascript/templates *
recursive-include monolithe/generators/lang/csharp/templates *
recursive-include monolithe/generators/lang/csharp/vanilla *
