html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica";
    font-size: 0.9em;
}

h1 {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    font-weight: bold;
    font-size: 1em;
    margin-top: 50px;
    border-bottom: 1px solid #f3f3f3;
}

h3 {
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #6B94EC;
}

ul {
    font-size: 0.8em;
}

.anchor {
    display: block;
    position: relative;
    top: -150px;
}

.header {
    width: 100%;
    background-color: #F2F2F2;
    z-index: 1000;
    position: fixed;
    border-bottom: 1px solid #f0f0f0;
    background-image: url(../img/nuage_logo.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 300px;
}

.header .summary {
    padding: 20px;
}

.header .nav table {
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 5px;
    font-weight: bold;
}

.main {
    padding: 20px;
    padding-top: 130px;
}

.summary {
}

.box {
    font-family: Menlo, Courier;
}

.httpmethods {
    color: #666;
}

.box ul {
    list-style: none;
    padding-left: 20px;
}

.box ul li {
    margin-bottom: 5px;
}

.attributedescription {
    margin-top: 10px;
    background-color: white;
    border: 1px solid #f3f3f3;
    font-family: "Helvetica";
}

.attributedescription .titlebanner {
    padding: 8px;
    background-color: #f3f3f3;
}

.attributedescription .content {
    width: 100%;
    padding: 10px;
}

.attributedescription .name {
    font-family: Menlo, Courier;
    font-weight: bold;
    margin: 0;
    font-size: 0.9em;
}

.attributedescription .metainformation {
    margin-top: 8px;
    margin-bottom: 0px;
    font-weight: normal;
}

.tag {
    font-family: Menlo, Courier;
    font-size: 0.7em;
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
}

.required {
    color: white;
    background-color: #F15C65;
}

.unique {
    color: white;
    background-color: #6B6B6B;
}

.enumvalues {
    margin-top: 20px;
}
.enumvalues ul {
    font-weight: normal;
    font-family: Menlo, Courier;
    list-style: none;
    padding-left: 5px;
    color: #444;
}

.description p {
    line-height: 20px;
    margin: 2px;
}

.type_int, .type_integer, .type_long, .type_float {
    color: #6E6FC5;
}

.type_string {
    color: #B28B06;
}

.type_boolean {
    color: #879B00;
}

.type_enum {
    color: #C54C1D;
}

.type_date {
    color: #3A89D2;
}

.wiki code {
    white-space: pre;
}
