html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica";
    font-size: 0.9em;
}

h1 {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    font-weight: bold;
    font-size: 1em;
    margin-top: 50px;
    border-bottom: 1px solid #f3f3f3;
}

h3 {
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #6B94EC;
}

ul {
    font-size: 0.8em;
}
.header {
    width: 100%;
    padding: 20px;
    background-color: #F2F2F2;
    z-index: 1000;
    position: fixed;
}

.main {
    padding: 20px;
    padding-top: 100px;
}

.summary {
}

.box {
    font-family: Menlo, Courier;
}

.httpmethods {
    color: #666;
}

.box ul {
    list-style: none;
    padding-left: 20px;
}

.box ul li {
    margin-bottom: 5px;
}

.box ul li .tag {
    font-size: 0.6em;
}

.attribute {
    margin-top: 10px;
    background-color: white;
    border: 1px solid #f3f3f3;
}

.attribute .titlebanner {
    padding: 10px;
    background-color: #f3f3f3;
}

.attribute .content {
    width: 100%;
    padding: 10px;
}

.attribute .name {
    font-family: Menlo, Courier;
    font-weight: bold;
    margin: 0;
}

.attribute .metainformation {
    margin-top: 8px;
    margin-bottom: 0px;
    font-weight: normal;
}

.attribute .tag {
    border-radius: 100px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.required {
    color: white;
    background-color: #F15C65;
}

.unique {
    color: white;
    background-color: #6B6B6B;
}

.enumvalues {
    margin-top: 20px;
}
.enumvalues ul {
    font-weight: normal;
    font-family: Menlo, Courier;
    list-style: none;
    padding-left: 5px;
    color: #444;
}

.description p {
    line-height: 20px;
    margin: 2px;
}

.type_int, .type_integer, .type_long, .type_float {
    color: #B36B6B;
}

.type_string {
    color: #D67C7B;
}

.type_boolean {
    color: #897A8F;
}

.type_enum {
    color: #4CA61C;
}
